@using Vidly.Models
@model List<Vidly.Models.Movie>

<h2>Movies</h2>

@if (Model is null || Model.Count == 0)
{
    <p>There are no movies to display</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
            </tr>
        </thead>

        @foreach (var movie in Model)
        {
            <tr><td>@Html.ActionLink(movie.Name, "Details", new { id = movie.Id })</td><td>@movie.Genre.Name</td></tr>
        }
    </table>

}
