@model Vidly.Models.Customer

<h1>@Model.Name</h1>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (@Model.BirthDate.HasValue)
    {
        <li>@Model.BirthDate</li>
    }

</ul>
